.main-image {
    width: 100%;
}

.imgs {
    width: 100%;
}

ul li a{
    font-size: 0.8rem;
}

.logo{
    width: 3rem;
}

footer a {
    text-decoration: none;
}

.section-middle-images{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.section-middle-images img{
    width:4rem;

}

.section-middle-images h5{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.middle-title{
    font-family: 'Cabin', sans-serif;
}